html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D6F4FF;
}

#root {
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Carousel Bootstrap modifications */

.carousel-control-prev, .carousel-control-next, .carousel-indicators {
  z-index: 200 !important;
  opacity: 0.8 !important;
}

/* Common page modifications */

#root .container {
  margin-top: 30px;
}

h1 {
  font-weight: bold;
}

.container .row {
  margin-bottom: 30px;
}

#root table {
  background-color: #FFF;
}

#root table th {
  font-weight: 500;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

#root table td {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

table td ul {
  padding-left: 1rem;
  list-style: none;
}

.smallIcon {
  width: 1.5rem;
  color: black;
}

.yellowBack {
  background-color: #FDC134;
  border-color: #FDC134;
  color: #000;
  transition: none;
}

.yellowBack.button:hover,
.yellowBack.button:active,
.yellowBack.button:visited,
.yellowBack.button:focus {
  background-color: #cb9500 !important;
  border-color: #cb9500 !important;
  font-weight: bold;
}

.yellowBack a {
  color: #FFF;
  text-decoration: none;
}

.yellowBack.button {
  color: #FFF;
}

.yellowBack.button a:hover,
.yellowBack.button a:active
.yellowBack.button a:visited
.yellowBack.button a:focus {
  font-weight: bold;
  text-decoration: none;
  background-color: #cb9500 !important;
}